In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

DataCinephlies Intermediate Report, Data Preprocess And Experimental Result

In [27]:
anime_csv = pd.read_csv("anime.csv")
rating_csv = pd.read_csv("rating.csv")

In [12]:
# Print Rating Info
print("Rating Info:\n")
rating_info = rating_csv.info()

if rating_info is not None:
    # Define the style for the info table
    styled_info = rating_info.style.set_table_styles([
        {"selector": "th", "props": [("background-color", "#2a9d8f"), ("color", "white"), ("border", "1.5px solid black")]},
        {"selector": "td", "props": [("border", "1.5px solid black")]}
    ])
    
    print(styled_info)
else:
    print("info with no style.")

Rating Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813737 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 178.8 MB
info with no style.

In [13]:
# Print Anime Info
print("Anime Info:\n")
anime_info = anime_csv.info()

if anime_info is not None:
    # Define the style for the info table
    styled_info = anime_info.style.set_table_styles([
        {"selector": "th", "props": [("background-color", "#2a9d8f"), ("color", "white"), ("border", "1.5px solid black")]},
        {"selector": "td", "props": [("border", "1.5px solid black")]}
    ])
    
    print(styled_info)
else:
    print("info with no style.")

Anime Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB
info with no style.

In [14]:
print(f"Anime Shape is: {anime_csv.shape}")
print(f"\nAnime Data Head :")
anime_csv.head()

Anime Shape is: (12294, 7)

Anime Data Head :

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [15]:
# Print Rating Shape
print("Rating Shape is:", rating_csv.shape)

# Print Rating 
print("\nRating Data Head:")

# Style the head 
styled_rating_head = rating_csv.head().style.set_table_styles([
    {"selector": "th", "props":
      [
       ("background-color", "#264653"), 
       ("color", "white"), 
       ("border", "1.5px solid #264653")
      ]},

    {"selector": "td", "props": [("border", "1.5px solid #264653")]}
])
# Display
styled_rating_head

Rating Shape is: (7813737, 3)

Rating Data Head:

In [16]:
# Summary of The Anime Dataset
print("Summary of The Anime Dataset:\n")
import itertools
# Generate summary statistics for the anime dataset
anime_summary = anime_csv.describe().T

# Define the styles 
styles = [
    {"background-color": "#264653", "color": "white", "border": "1.5px solid #264653"},
    {"background-color": "#2a9d8f", "color": "white", "border": "1.5px solid #2a9d8f"},
    {"background-color": "#e9c46a", "color": "black", "border": "1.5px solid #e9c46a"},
    {"background-color": "#f4a261", "color": "black", "border": "1.5px solid #f4a261"},
    {"background-color": "#e76f51", "color": "white", "border": "1.5px solid #e76f51"}
]

# Display
styles_cycle = itertools.cycle(styles) 
for col, summary in anime_summary.items():
    print(f"Summary for {col}:")
    style = next(styles_cycle)  
    styled_summary = summary.to_frame().style.set_properties(**style)
    display(styled_summary)
    print()

Summary of The Anime Dataset:

Summary for count:

Summary for mean:

Summary for std:

Summary for min:

Summary for 25%:

Summary for 50%:

Summary for 75%:

Summary for max:

In [17]:
# Summary of The Rating Dataset
print("Summary of The Rating Dataset:\n")
import itertools
# Generate summary statistics for the anime dataset
anime_summary = rating_csv.describe().T

# Define the styles 
styles = [
    {"background-color": "#264653", "color": "white", "border": "1.5px solid #264653"},
    {"background-color": "#2a9d8f", "color": "white", "border": "1.5px solid #2a9d8f"},
    {"background-color": "#e9c46a", "color": "black", "border": "1.5px solid #e9c46a"},
    {"background-color": "#f4a261", "color": "black", "border": "1.5px solid #f4a261"},
    {"background-color": "#e76f51", "color": "white", "border": "1.5px solid #e76f51"}
]

# Display
styles_cycle = itertools.cycle(styles) 
for col, summary in anime_summary.items():
    print(f"Summary for {col}:")
    style = next(styles_cycle)  
    styled_summary = summary.to_frame().style.set_properties(**style)
    display(styled_summary)
    print()

Summary of The Rating Dataset:

Summary for count:

Summary for mean:

Summary for std:

Summary for min:

Summary for 25%:

Summary for 50%:

Summary for 75%:

Summary for max:

In [19]:
# Print Null Values of Rating Dataset
print("Null in  Anime :\n")

# Calculate null 
null_values = rating_csv.isna().sum()

# Convert null 
null_values_df = null_values.to_frame().T

# Define 
styled_null_values = null_values_df.style.set_table_styles([
    {"selector": "th", "props": [("background-color", "#264653"), ("color", "white"), ("border", "1.5px solid #264653")]},
    {"selector": "td", "props": [("border", "1.5px solid #264653")]}
])

# Display 
styled_null_values

Null in  Anime :

In [18]:
# Print Null Values of Anime Dataset
print("Null in  Anime :\n")

# Calculate null 
null_values = anime_csv.isna().sum()

# Convert null 
null_values_df = null_values.to_frame().T

# Define 
styled_null_values = null_values_df.style.set_table_styles([
    {"selector": "th", "props": [("background-color", "#264653"), ("color", "white"), ("border", "1.5px solid #264653")]},
    {"selector": "td", "props": [("border", "1.5px solid #264653")]}
])

# Display 
styled_null_values

Null in  Anime :

In [28]:
#dropped rows with missing values in the "anime_csv" dataset to ensure data completeness
anime_csv.dropna(axis = 0, inplace = True)

In [29]:
# Set the "anime_id" column as the index in both DataFrames
anime_csv.set_index("anime_id", inplace=True)
rating_csv.set_index("anime_id", inplace=True)

# Perform the join operation
fulldata = anime_csv.join(rating_csv, how="inner", lsuffix="", rsuffix="_user")

# Reset the index
fulldata.reset_index(inplace=True)

# Rename the "rating_user" column to "user_rating"
fulldata.rename(columns={"rating_user": "user_rating"}, inplace=True)

         anime_id                                               name  \
0           32281                                     Kimi no Na wa.
1           32281                                     Kimi no Na wa.
2           32281                                     Kimi no Na wa.
3           32281                                     Kimi no Na wa.
4           32281                                     Kimi no Na wa.
...           ...                                                ...
7813606      6133  Violence Gekiga Shin David no Hoshi: Inma Dens...
7813607      6133  Violence Gekiga Shin David no Hoshi: Inma Dens...
7813608      6133  Violence Gekiga Shin David no Hoshi: Inma Dens...
7813609     26081                   Yasuji no Pornorama: Yacchimae!!
7813610     26081                   Yasuji no Pornorama: Yacchimae!!

                                        genre   type episodes  rating  \
0        Drama, Romance, School, Supernatural  Movie        1    9.37
1        Drama, Romance, School, Supernatural  Movie        1    9.37
2        Drama, Romance, School, Supernatural  Movie        1    9.37
3        Drama, Romance, School, Supernatural  Movie        1    9.37
4        Drama, Romance, School, Supernatural  Movie        1    9.37
...                                       ...    ...      ...     ...
7813606                                Hentai    OVA        1    4.98
7813607                                Hentai    OVA        1    4.98
7813608                                Hentai    OVA        1    4.98
7813609                                Hentai  Movie        1    5.46
7813610                                Hentai  Movie        1    5.46

         members  user_id  user_rating
0         200630       99            5
1         200630      152           10
2         200630      244           10
3         200630      271           10
4         200630      278           -1
...          ...      ...          ...
7813606      175    39532           -1
7813607      175    48766           -1
7813608      175    60365            4
7813609      142    27364           -1
7813610      142    48766           -1

[7813611 rows x 9 columns]

In [33]:
# Define the style for the table
styled_fulldata = fulldata.head().style.set_table_styles([
    {"selector": "th", "props": [("background-color", "#264653"), ("color", "white"), ("border", "1.5px solid #264653")]},
    {"selector": "td", "props": [("border", "1.5px solid #264653")]}
])

# Print the styled dataset
print("Merged Dataset:")
styled_fulldata

Merged Dataset:

In [36]:
# We are taking a subset of the data for demonstration purposes.
fulldatatemp = fulldata[fulldata.user_id <= 1000]
user_ratings_count = fulldatatemp["user_id"].value_counts()
selected_users = user_ratings_count[user_ratings_count >= 45].index

# Filter the data for selected users
filtered_data = fulldatatemp[fulldatatemp["user_id"].isin(selected_users)].copy()

In [44]:
from sklearn.metrics.pairwise import cosine_similarity
user_item_matrix = filtered_data.pivot_table(index='user_id', columns='anime_id', values='user_rating')
user_item_matrix.fillna(0, inplace=True)
user_similarity = cosine_similarity(user_item_matrix)

In [55]:
# Function to get top N similar users for a given user
def get_top_similar_users(user_id, top_n=5):
    try:
        user_index = user_item_matrix.index.get_loc(user_id)
    except KeyError:
        print(f"No similar users found for user with ID {user_id}.")
        return None

    similar_users = user_similarity[user_index]
    similar_users_indices = similar_users.argsort()[-top_n-1:-1][::-1]
    return user_item_matrix.iloc[similar_users_indices]

user_id = 200
similar_users = get_top_similar_users(user_id, top_n=5)
if similar_users is not None:
    styled_similar_users = similar_users.iloc[:, :10].style.set_table_styles([
        {"selector": "th", "props": [("background-color", "#264653"), ("color", "white"), ("border", "1.5px solid #264653")]},
        {"selector": "td", "props": [("border", "1.5px solid #264653")]}
    ])
    print("Top 5 similar users for user", user_id)
    display(styled_similar_users)

Top 5 similar users for user 200

In [58]:
user_id = 199
similar_users = get_top_similar_users(user_id, top_n=5)
if similar_users is not None:
    styled_similar_users = similar_users.iloc[:, :10]
    print("Top 5 similar users for user", user_id)
    display(styled_similar_users)

No similar users found for user with ID 199.